.container{
    display: grid;
    grid-gap: 5px;
    width: 1200px;
    margin-top: 100px;
    grid-template-columns: repeat(12,1fr);
    background-color: antiquewhite;
}
.div1{
    background-color: skyblue;
    grid-column: 1/13;
    padding: 10px;
    text-align: center;
}
.div2{
    background-color: skyblue;
    grid-column: 1/7;
    padding: 10px;
    text-align: center;
}
.div3{
    background-color: skyblue;
    grid-column: 7/13;
    padding: 10px;
    text-align: center;
}
.div4{
    background-color: skyblue;
    grid-column: 1/5;
    padding: 10px;
    text-align: center;
}
.div5{
    background-color: skyblue;
    grid-column: 5/9;
    padding: 10px;
    text-align: center;
}
.div6{
    background-color: skyblue;
    grid-column: 9/13;
    padding: 10px;
    text-align: center;
}
.div7{
    background-color: skyblue;
    grid-column: 1/4;
    padding: 10px;
    text-align: center;
}
.div8{
    background-color: skyblue;
    grid-column: 4/7;
    padding: 10px;
    text-align: center;
}
.div9{
    background-color: skyblue;
    grid-column: 7/10;
    padding: 10px;
    text-align: center;
}
.div10{
    background-color: skyblue;
    grid-column: 10/13;
    padding: 10px;
    text-align: center;
}
.div11{
    background-color: skyblue;
    grid-column: 1/3;
    padding: 10px;
    text-align: center;
}
.div12{
    background-color: skyblue;
    grid-column:3/5;
    padding: 10px;
    text-align: center;
}
.div13{
    background-color: skyblue;
    grid-column: 5/7;
    padding: 10px;
    text-align: center;
}
.div14{
    background-color: skyblue;
    grid-column: 7/9;
    padding: 10px;
    text-align: center;
}
.div15{
    background-color: skyblue;
    grid-column: 9/11;
    padding: 10px;
    text-align: center;
}
.div16{
    background-color: skyblue;
    grid-column: 11/13;
    padding: 10px;
    text-align: center;
}
.div20{
    background-color: skyblue;
    padding: 10px;
    text-align: center;
   grid-row:6/13;
}
